langchain
langchain_community
langchain-openai
langchain-groq
python-dotenv
langchain-google-genai
langchain_tavily
deepagents
pymupdf
pypdf
sentence-transformers
chromadb
scikit-learn
cohere
pymongo
mongomock
streamlit
neo4j
langchain_experimental
fastapi
uvicorn
faiss-cpu
langgraph-checkpoint-sqlite
langgraph-checkpoint-mongodb


